# Define the stages of the pipeline
stages:
  - build
  - deploy

# Define the job for building the application
build:
  stage: build
  image: gradle:8.5-jdk-alpine
  script:
    - cd properly
    - gradle clean build

# Define the job for deploying the application
deploy:
  stage: deploy
  image: openjdk:17-alpine
  script:
    - echo "Deploying the application..."
    # Add your deployment commands here, such as deploying to a server or a cloud platform
  # Specify when to deploy
  # For example, deploy only when changes are pushed to the main branch
  only:
    - main
