<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:security="http://www.springframework.org/security/tags"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add Fragment: css -->
    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
    <!-- Add Fragment: js -->
    <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
    <title>Form Create Semester</title>
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <div class="card w-75 mt-5">
        <div class="my-2 text-center">
          <h2>Tambah Semester Baru</h2>
        </div>
        <form
          th:action="@{/semester/create}"
          th:object="${semesterDTO}"
          method="POST"
        >
          <!-- Input Nama Semester (Ganjil/Genap) -->
          <div class="m-4 px-3">
            <select class="form-select" th:field="*{isGanjil}" required>
              <option th:value="true">Ganjil</option>
              <option th:value="false">Genap</option>
            </select>
          </div>
          <!-- Input Tanggal Awal -->
          <div class="m-4 px-3">
            <input
              type="date"
              class="form-control"
              th:field="*{tanggalAwal}"
              required
            />
          </div>
          <!-- Input Tanggal Akhir -->
          <div class="m-4 px-3">
            <input
              type="date"
              class="form-control"
              th:field="*{tanggalAkhir}"
              required
            />
          </div>
          <!-- Input String TahunAjaran -->
          <div class="m-4 px-3">
            <input
              type="text"
              class="form-control"
              th:field="*{tahunAjaran}"
              pattern="\d{4}/\d{4}"
              title="Enter in the format yyyy/yyyy"
              required
            />
          </div>
          <!-- Submit Button -->
          <!-- Buttons: Batal & Simpan Inline -->
          <div class="d-flex justify-content-center px-3 mt-5 mb-3">
            <a type="button" class="btn btn-danger mx-3" href="/">Batal</a>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
