<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
      <title>Properly</title>
      <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
      <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
  </head>
  <body>
      <div class="main-container d-flex">
          <div th:replace="~{fragments/fragment :: sidebar('home')}"></div>
          <div class="d-flex">
              <div class="vr"></div>
          </div>
          <div class="content">
              <div class="dashboard-content px-3 pt-4">
                <div th:replace="~{fragments/fragment :: header('home')}"></div>
                <form th:action="@{/logout}" method="post">
                  <input
                    type="hidden"
                    name="${_csrf.parameterName}"
                    value="${_csrf.token}"
                  />
                  <button type="submit">Logout</button>
                </form>
              </div>
          </div>
      </div>
  </body>
</html>
