<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Properly</title>
    <object th:include="~{fragments/fragment :: css}" th:remove="tag"></object>
    <object th:include="~{fragments/fragment :: js}" th:remove="tag"></object>
  </head>
  <body>
    <div class="container">
      <label for="form-login" class="h2 mb-3">Masuk</label>
      <form
        method="post"
        id="form-login"
        th:action="@{/login}"
        th:object="${loginInfo}"
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Masukkan username anda"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Masukkan password anda"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
