<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <title>Properly</title>
        <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
        <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
    </head>
    <body>
        <div class="main-container d-flex">
            <div th:replace="~{fragments/fragment :: sidebar}"></div>
            <div class="d-flex">
                <div class="vr"></div>
            </div>
            <div class="content">
                <div class="dashboard-content px-3 pt-4">
                    <div th:replace="~{fragments/fragment :: header}"></div>
                    <div class="container" style="padding: 15px 50px;">
                        <div class="container d-flex flex-row" style="height: 100%; color: #106EE8; padding: 20px 0px 20px 0px;">
                            <a href="/akuns" class="container text-decoration-none" style="font-size: 20px; -webkit-text-stroke: 2.5px; width: 50px;">
                                <i class="bi bi-chevron-left" style="padding-right: 20px;"></i>
                            </a>
                            <h4 class="container text-center" style="font-weight: bold; width: 100%; margin-right: 50px;">Detail Akun</h4>
                        </div>
                        <div class="container d-flex justify-content-around" style="padding: 20px 0px 20px 0px;">
                            <div class="container align-items-center" style="height: 100%; font-size: 20px; color: #868C90;">
                                <p style="font-weight: bold; color: #b4b4b4;">Peran</p>
                                <p th:text="${peran}"></p>
                            </div>
                            <div class="container align-items-center" style="height: 100%; font-size: 20px; color: #868C90;">
                                <p style="font-weight: bold; color: #b4b4b4;">Username</p>
                                <p th:text="${user.username}" style=""></p>
                            </div>
                            <div class="container align-items-center" style="height: 100%; font-size: 20px; color: #868C90;">
                                <p style="font-weight: bold; color: #b4b4b4;">Password Awal</p>
                                <p th:text="${user.passwordAwal}" style=""></p>
                            </div>
                        </div>
                        <div class="container d-flex justify-content-around" style="padding: 20px 0px 20px 0px;">
                            <div class="container align-items-center" style="height: 100%; font-size: 20px; color: #868C90;">
                                <p style="font-weight: bold; color: #b4b4b4;">Nama</p>
                                <p th:text="${user.nama}" style=""></p>
                            </div>

                            <div class="container align-items-center" style="height: 100%; font-size: 20px; color: #868C90;">
                                <p style="font-weight: bold; color: #b4b4b4;">NUPTK</p>
                                <p th:text="${user.nuptk}"></p>
                            </div>
                            <div class="container align-items-center" style="height: 100%; font-size: 20px; color: #868C90;">
                                <p style="font-weight: bold; color: #b4b4b4;">Wali Kelas</p>
                                <p th:text="${user.waliOf != null} ? ${user.waliOf.nama} : '-'"></p>
                            </div>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center" style="padding: 15px 50px;">
                        <div class="container d-flex justify-content-around" style="padding: 20px 0px 20px 0px;">
                            <table style="width:100%;" class="table table-striped" >
                                <thead >
                                <tr>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Kelas</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(listMatpel)}">
                                    <td>Belum ada mata pelajaran yang diajar</td>
                                    <td>Belum ada kelas yang diajar</td>
                                </tr>
                                <tr th:unless="${#lists.isEmpty(listMatpel)}" th:each="matpel : ${listMatpel}">
                                    <td th:text="${matpel.nama}"></td>
                                    <td th:text="${matpel.kelas.nama}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container text-center" style="padding: 30px 50px 30px 50px;">
                        <a type="button" class="btn btn-primary" th:href="@{/akuns/update/{id}(id = ${user.id})}">Ubah Detail Akun</a>
                    </div>
                    <div class="container text-center" style="padding: 0px 50px 30px 50px;">
                        <a type="button" class="btn btn-danger" th:href="@{/akuns/{id}/delete(id = ${user.id})}">Hapus Akun</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
