<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <title>Manajemen Akun - SatriaLearn</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
    />

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#akun-table").DataTable();
      });
    </script>
  </head>

  <style>
    .container {
      position: absolute;
      left: 300px;
      top: 70px;
      width: 70%;
      padding: 20px;
    }

    table,
    th,
    tr,
    button {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
    }

    .btn-sm {
      font-size: 10px;
    }
  </style>

  <body>
    <div
      class="alert alert-danger alert-dismissible"
      role="alert"
      th:if="${error}"
      th:text="${error}"
    >
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <div
      class="alert alert-success alert-dismissible"
      role="alert"
      th:if="${success}"
      th:text="${success}"
    >
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <div class="container">
      <div>
        <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center">
          <h2
            style="
              font-weight: bold;
              margin-bottom: 0.75rem;
              font-family: 'Poppins', sans-serif;
              font-size: 18px;
              color: #106ee8;
            "
          >
            Manajemen Akun
          </h2>
          <!-- <a class="btn" href="/mapel/add" style="background-color: #31318B;  color: white;">Tambah Mata Pelajaran</a> -->
          <br />
        </div>
        <div style="float: right">
          <a th:href="@{/akuns/create}" class="btn btn-primary"
            >Buat Akun Baru</a
          >
        </div>
        <table id="akun-table" style="width: 100%" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nama</th>
              <th scope="col">Peran</th>
              <th scope="col">Nomor Identifikasi</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user, iterationStatus : ${users}">
              <td th:text="${user.nama}"></td>
              <td th:text="${user.peran}"></td>
              <td th:text="${user.nomorIdentifikasi}"></td>
              <td>Buttons</td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
    </div>
  </body>
</html>
