<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Manajemen Mata Pelajaran - SatriaLearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Data Tables -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>

    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
    <!-- <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object> -->

</head>

<style>
    table, th, tr, button {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
    }

    .btn-sm {
        font-size: 10px;
    }
</style>

<body>
    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
        <div th:text="${error}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-success alert-dismissible" role="alert" th:if="${success}">
        <div th:text="${success}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="main-container d-flex">
        <div th:replace="~{fragments/fragment :: sidebar('read-manajemen-matpel')}"></div>
        <div class="d-flex">
            <div class="vr"></div>
        </div>
        <div class="content">
            <div class="dashboard-content px-3 pt-4">
                <div th:replace="~{fragments/fragment :: header('read-manajemen-matpel')}"></div>

                <div class="container">
                    <div>
                        <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
                            <h2 style="font-weight: bold; margin-bottom: 0.75rem; font-family: 'Poppins', sans-serif; font-size: 22px; color: #106EE8;" >Manajemen Mata Pelajaran</h2>
                            <br>
                        </div>
                        <div style="float: right;">
                            <a class="btn btn-primary" type="submit" style="background-color: #106EE8;" href="/matpel/add">Tambah Mata Pelajaran</a>
                        </div>
                        <table id="matpel-table" style="width:100%;" class="table table-striped" >
                            <thead >
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Mata Pelajaran</th>
                                <th scope="col">Kelas</th>
                                <th scope="col">Guru</th>
                                <th scope="col">Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="matpel, iterationStatus : ${listMatpel}">
                                    <td th:text="${iterationStatus.index + 1}" class="align-content-left"></td>
                                    <td th:text="${matpel.nama}"></td>
                                    <td th:text="${matpel.kelas.nama}"></td>
                                    <td th:text="${matpel.guru.nama}"></td>
                                    <td class="align-content-left">
                                        <a class="btn btn-sm btn-outline-primary" th:href="@{/matpel/update/} + ${matpel.id}">Ubah</a>
                                        <a class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#modal-hapus">Hapus</a>

                                        <!-- Modal -->
                                        <div class="modal fade" id="modal-hapus" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="popupLabel"><strong>Konfirmasi Hapus Mata Pelajaran</strong></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                                <div class="modal-body">
                                                Apakah Anda Yakin ingin menghapus Mata Pelajaran ini? </br> </br>  Anda tidak dapat memulihkan data mata pelajaran jika sudah dihapus!
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                                <a type="button" class="btn btn-danger" id="hapusButton" th:href="@{/matpel/delete/} + ${matpel.id}">Hapus</a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#matpel-table').DataTable();
    
            // Menampilkan modal saat tombol "Hapus" diklik
            $('#matpel-table').on('click', '.btn-outline-danger', function() {
                var id = $(this).data('id');
                $('#modal-hapus').modal('show');
            });
    
            $('#matpel-table').on('click', '.btn-secondary', function() {
                $('#modal-hapus').modal('hide');
            });
    
            $('#matpel-table').on('click', '.close', function() {
                $('#modal-hapus').modal('hide');
            });
    
        });
    
    
    </script>
    
</body>
</html>